<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h1>PAGINA DE PERFIL</h1>
    <h2>Escolha o seu Perfil</h2>
    
    <p><%= nome %></p>
        

</body>
</html>